@model Buy_Stocks_Final_Project.Models.StocksPayment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StocksPayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input type="hidden" asp-for="CompanyId" class="form-control" />
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="StocksBuyerId" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Company.AvailableStocks" class="control-label">Company :</label>
                <label asp-for="Company.CompanyName" class="control-label">@Model.Company.CompanyName</label>

            </div>
            <div class="form-group">
                <label asp-for="StocksBuyer.BuyerName" class="control-label">@Model.StocksBuyer.BuyerName</label>

            </div>

            <div class="form-group">
                <label asp-for="Company.AvailableStocks" class="control-label">Available Stocks :</label>
                <label asp-for="Company.AvailableStocks" class="control-label">@Model.Company.AvailableStocks</label>

            </div>

            <div class="form-group">
                <label asp-for="Company.AvailableStocks" class="control-label">Stock Price :</label>
                <label asp-for="Company.AvailableStocks" class="control-label">@Model.Company.StockPrice</label>

            </div>
            <div class="form-group">
                <label asp-for="NumberOfStocks" class="control-label"></label>
                <input asp-for="NumberOfStocks" class="form-control" />
                <span asp-validation-for="NumberOfStocks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Purchase Stocks" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
